nodered-miscale.json
[{"id":"602fd715.2b01f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"20f31c35.f28b24","type":"mqtt in","z":"602fd715.2b01f8","name":"readRfCode","topic":"tele/+/+/RESULT","qos":"0","broker":"4b83f6e5.599988","x":100,"y":118,"wires":[["982fb9d2.c65e28"]]},{"id":"982fb9d2.c65e28","type":"json","z":"602fd715.2b01f8","name":"","property":"payload","action":"","pretty":false,"x":265,"y":118,"wires":[["500b989c.b915e8"]]},{"id":"500b989c.b915e8","type":"function","z":"602fd715.2b01f8","name":"setName","func":"if (msg.payload.RfReceived.Data === \"0F45A1\") {\n    flow.set(\"who\", \"papa\");\n} else if (msg.payload.RfReceived.Data === \"0F45A8\") {\n    flow.set(\"who\", \"mama\");\n} else if (msg.payload.RfReceived.Data === \"0F45A2\") {\n    flow.set(\"who\", \"ara\");\n} else if (msg.payload.RfReceived.Data === \"0F45A4\") {\n    flow.set(\"who\", \"fatih\");\n} ","outputs":1,"noerr":0,"x":409,"y":118,"wires":[[]]},{"id":"1f137787.0e23b8","type":"mqtt in","z":"602fd715.2b01f8","name":"readMiScale","topic":"tele/home-mn356/miscale/#","qos":"0","broker":"4b83f6e5.599988","x":101,"y":205,"wires":[["e306f82f.aca668"]]},{"id":"e306f82f.aca668","type":"json","z":"602fd715.2b01f8","name":"","property":"payload","action":"","pretty":false,"x":268,"y":203,"wires":[["a176e779.2581d8"]]},{"id":"a176e779.2581d8","type":"function","z":"602fd715.2b01f8","name":"combineNameWithMiScaleReading","func":"var who = flow.get(\"who\");\nmsg.topic=\"modif-\"+msg.topic+\"/\"+who\nwho = flow.set(\"unknown\");\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":307,"wires":[["60df3cde.e32c94"]]},{"id":"60df3cde.e32c94","type":"mqtt out","z":"602fd715.2b01f8","name":"sendTopic","topic":"","qos":"0","retain":"","broker":"4b83f6e5.599988","x":454,"y":227,"wires":[]},{"id":"4b83f6e5.599988","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
